    <div class="header">
      <%= image_tag "logo.png", class:"logo" %>
      <div class="header-wrapper">
        <ul class="user-menu">
          <!-- ログアウト状態の表示 -->
          <li class="login">ログイン</li>
          <li class="sign_up">新規登録</li>
          <!-- ログアウト状態の表示 -->
        </ul>
      </div>
    </div>