<%= render partial: "shared/second-header" %>
<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>ログイン</h1>
  </div>
  <%= render partial: 'session_new', locals: { f: f } %>
</div>
<% end %>
<!-- フッター -->
<%= render 'shared/footer' %>
