.box-text {
  width: 500px;
  height: 50px;
  padding: 0px 14px 7px;
  border: solid #d9d9d9;
  border-radius: 5px;
  font-size: 14px;
}

.flex-container {
  display: flex;
}

.form-edit-wrapper {
  display: flexbox;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: bold;
}
