
/* 共通 */
.header,
.footer,
.second-header,
.registration-main,
.second-footer {
  background-color: #ffffff;
}

/* サイズ */
.main {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  padding: 50px 25%;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ユーザーメニュー */
.user-menu {
  list-style: none;
  margin: 10px;
  height: 20px;
  display: flex;
  font-size: 18px;
}

.user-menu li {
  margin-left: 10px;
}

/* プレゼント一覧の投稿画像 */
.post-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.post {
  flex: 1;
  margin: 10px;
  position: relative;
}

.post-index {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}

.post-image-wrap,
.post-image {
  height: 150px;
  width: 150px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #616161;
  margin: 5px;
}

.post-image {
  object-fit: cover;
  background-color: #ffffff;
  transition: all 0.5s ease;
  filter: blur(3px);
}

.post-image:hover {
  filter: blur(0px);
}

.bottom-right-title {
  position: absolute;
  bottom: 0px;
  right: 25px;
  font-weight: 600;
  color: #ffffff;
}

/* スクロールバー */
.box {
  display: flex;
  margin-bottom: 40px;
  overflow-x: auto; 
  overflow-y: hidden; 
  white-space: nowrap; 
  padding-bottom: 30px;
}

.box::-webkit-scrollbar {
  height: 4px;
}

.box::-webkit-scrollbar-thumb {
  background: transparent;
}

.box:hover::-webkit-scrollbar-thumb {
  background: #ffb9e9;
  border-radius: 7px; 
}

.box::-webkit-scrollbar-track {
  background: #ffd6ee; 
  border-radius: 7px; 
}

/* サイドバー */
.side-bar {
  background-color: rgb(255, 255, 255);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* セカンドヘッダー */
.second-header {
  width: 100%;
  height: 130px;
  background-color: #f5f5f500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-footer {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-logo {
  width: auto;
  height: 49px;
}

.form-main-box {
  width: 100%;
  min-width: 800px;
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
}

/* 購入ボタン */
.purchase-btn {
  width: 130px;
  height: 130px;
  background: #ff7b8d;
  text-align: center;
  border-radius: 5%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  font-family: "Noto Sans JP", Arial, sans-serif;
  margin-bottom: 10px;
}

.purchase-btn-text-small {
  color: #ffffff;
  font-size: 13px;
}

.purchase-btn-icon {
  width: 70px;
  height: 70px;
}

.null {
  color: #ff7b8d;
}

h4.show-present-name {
  margin-left: 10px;
}

/* ボックス一覧表示画面の編集・削除ボタン */
.ed-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2d2d2;
  height: 40px;
  width: 150px;
  font-size: 14px;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
}


/* 編集・削除ボタンのボックス */
.prof-top {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end; /* 右寄せに修正 */
  margin-bottom: 20px; /* スペースを追加 */
}


.birth-age {
  display: flex;

}

.age {
  color: #7c7c7c;
  margin-left: 10px;
}

/* prof-mainクラスにflex-direction: column;を追加 */
.prof-main {
  display: flex;
  flex-direction: column;
}


.prof-box {
  padding:  80px;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
}

.show-prof-wrap {
  margin-left: 40px;

}

/* ボックス名称 */
div.box-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgba(0, 255, 255, 0);
}

/* ボックス名称 */
div.show-box-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgba(0, 255, 255, 0);
  display: flex;
}

/* プロフィール本文 */
.prof-text {
  font-size: 14px;
  line-height: 50px;
}

.profile {
  display: flex;
  width: 400px;
}

.left-prof {
  background-color: rgba(127, 255, 212, 0);
  width: 30%;
  margin-right: 40px;

}

.right-prof {
  background-color: rgba(0, 0, 255, 0);
  width: auto;

}

.small-text {
  font-size: 60%;
  margin-left: 10px;
  align-self: flex-end;
}


/* ボックスの編集画面で使用 */
.box-text {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: solid #d9d9d9;
  border-radius: 5px;
  font-size: 14px;
}

.box-big-text {
  width: 100%;
  height: 50px;
  padding: 0 14px;
  border: solid #d9d9d9;
  border-radius: 5px;
  font-size: 14px;
}

.flex-container {
  display: flex;
}

.form-edit-wrapper {
  display: flexbox;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.edit-prof-box {
  padding:  80px;
  min-height: 100vh;
}

.edit_main {
  background-color: rgb(255, 255, 255);
  height: auto;
  padding: 50px 25%;
}

/* ボックスの編集画面で使用 */

/* ボックス詳細 */
.box001 {
  display: flex;
  align-items: center;
  height: 95px;
}

.text001-box-wrapper {
  width: 100%;
  padding: 0 5%;
}

.text001-box {
  display: flex;
  align-items: flex-end;
  background-color: #ffffff;
  height: 30px;
}

.type-name {
  margin-right: 100px;
  margin-left: 10px;
}

.present-title001 {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 30px;
}

.border {
  border: none;
  border-top: 2px dashed rgb(255, 166, 0);
}

.image_box001 {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.unset {
  color: #b7b7b7;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; /* 要素を下寄せにする */
  top: 0;
  position: sticky;
  height: 90px;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 92, 101);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
  z-index: 1000;
  width: 100vw;
  padding: 0 20%;
}

.logo {
  height: 40px;
  margin: 0 0 10 50px;
}

.header-wrapper {
  display: flex;
  align-items: flex-end; /* 要素を下寄せにする */
  flex-direction: column; /* 縦並びにする */
  margin-right: 10px;
}

/* ボックス一覧表示画面の編集・削除ボタン */
.ed-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2d2d2;
  height: 40px;
  width: 150px;
  font-size: 14px;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
}


/* 編集・削除ボタンのボックス */
.prof-top {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end; /* 右寄せに修正 */
  margin-bottom: 20px; /* スペースを追加 */
}


.birth-age {
  display: flex;

}

.age {
  color: #7c7c7c;
  margin-left: 10px;
}

/* prof-mainクラスにflex-direction: column;を追加 */
.prof-main {
  display: flex;
  flex-direction: column;
}


.prof-box {
  padding:  80px;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
}

.show-prof-wrap {
  margin-left: 40px;

}

/* ボックス名称 */
div.box-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgba(0, 255, 255, 0);
}

/* ボックス名称 */
div.show-box-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: rgba(0, 255, 255, 0);
  display: flex;
}

/* プロフィール本文 */
.prof-text {
  font-size: 14px;
  line-height: 50px;
}

.profile {
  display: flex;
  width: 400px;
}

.left-prof {
  background-color: rgba(127, 255, 212, 0);
  width: 30%;
  margin-right: 40px;

}

.right-prof {
  background-color: rgba(0, 0, 255, 0);
  width: auto;

}

.small-text {
  font-size: 60%;
  margin-left: 10px;
  align-self: flex-end;
}


/* ボックスの編集画面で使用 */
.box-text {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: solid #d9d9d9;
  border-radius: 5px;
  font-size: 14px;
}

.box-big-text {
  width: 100%;
  height: 50px;
  padding: 0 14px;
  border: solid #d9d9d9;
  border-radius: 5px;
  font-size: 14px;
}

.flex-container {
  display: flex;
}

.form-edit-wrapper {
  display: flexbox;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.edit-prof-box {
  padding:  80px;
  min-height: 100vh;
}

.edit_main {
  background-color: rgb(255, 255, 255);
  height: auto;
  padding: 50px 25%;
}

/* ボックスの編集画面で使用 */

/* プレゼント詳細 */
.present-image-wrapper {
  margin-top: 40px;
  display: flex;
}

.present-image {
  padding: 30px;
  width: 600px;
  height: 400px;
  box-shadow: 2px 2px 5px #616161;
  object-fit: cover;
}

.present-text {
  display: flex;
  margin: 0 50px;
  width: 400px;
}

.event-memo {
  background-color: #ffffff;
  width: auto;
  height: 200px;
  margin-top: 30px;
  padding: 30px;
  border: solid #ff751f;
  border-radius: 5px;
}

/* shop,price,memoなどの補足情報の大 */
ul.additional-info {
  width: 40%;
  height: 100px;
  background-color: #ffb9e9;
  border-radius: 5px;
  margin-top: 10px;
}
