

/* メイン */
.main {
  background-color: rgb(234, 234, 234);
  height: auto;
  padding: 50px 20%;
}

.footer {
  width: 100vw;
  height: auto;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  margin: 40px;
}

.footer-logo {
  height: 50px;
  background-size: cover; /* 背景画像を領域に合わせて拡大縮小 */
}

/* ログイン情報・新規登録ボタン */
.user-menu {
  list-style: none;
  margin: 10px;
  height: 20px;
  display: flex;
  font-size: 18px;
}

.user-menu li {
  margin-left: 10px;
}

.top_image {
  height: 500px;
}

.add-box-button {
  width: 40px;
  height: 40px;
  align-self: flex-end;
}



.post-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

.post {
  flex: 1; /* 幅を均等に分配 */
  margin: 10px; /* 要素の間の間隔を調整 */
  position: relative;
}

/* プレゼント一覧の投稿画像 */
.post-image {
  height: 250px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #616161;
  object-fit: cover;
  background-color: #ffffff;

}

.bottom-right-title {
  position: absolute;
  bottom: 0px;
  right: 25px;
  font-weight: 600;
  color:#ffffff;
}

div.box {
  display: flex;
  margin-bottom: 100px;
}

div.box-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 90px;
  margin-right: 20px;
}

p.box-name {
  font-size: 12px;
  text-align: center;
}

div.image_circle {
  background-color: #ff751f;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-size: cover; /* 背景画像を領域に合わせて拡大縮小 */
}

hr {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  margin: 20px auto; 上下のマージンを20pxに設定し、左右のマージンを自動で調整
  width: auto;
  padding: 0 250px; /* パディング */
}


/* プレボ詳細ページ */
.prebo-box {
  display: flex;
  height: 200px;
}

.side-bar {
  background-color: rgb(255, 255, 255);
  width: 300px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  padding: 10px;
}

/* アイコン画像用 */
.prof-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  object-fit: cover;
  border: solid #ff7b8d;
}


p.boxname {
  font-size: 16px;
}

p.box-memo {
  font-size: 14px;
}

.main-bar {
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: auto;
}


a:link,
a:visited,
a:hover,
a:active {
  color: inherit; /* リンクの色を継承する */
  text-decoration: none; /* 下線をなくす */
}

li. {
  list-style: none;
}


* {
  box-sizing: border-box;
}

.purchase-btn {
  width: 130px; /* 幅を指定 */
  height: 130px; /* 高さを指定 */
  background: #ff7b8d;
  text-align: center;
  border-radius: 5%; /* 正方形にするための border-radius */
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500; /* フォントの太さを500に設定 */
  font-family: "Noto Sans JP", Arial, sans-serif; /* フォントファミリーを指定 */
  margin-bottom: 10px;
}


.purchase-btn-text-small{
  color: #ffffff;
  font-size: 13px;
}

.purchase-btn-icon {
  width: 70px;
  height: 70px;

}


/* present-show image */
.present-image-wrapper {
  margin-top: 40px;
  display: flex;
}

.present-image {
  padding:30px;
  width: 600px;
  height: 400px;
  box-shadow: 2px 2px 5px #616161;
  object-fit: cover;
}

.present-text {
  display: flexbox;
  margin: 0 50px;
  width: 400px;
}

.event-memo {
  background-color: #ffffff;
  width: auto;
  height: 200px;
  margin-top: 30px;
  padding: 30px;
  border: solid #ff751f;
  border-radius: 5px;
}

.point {
  color: #ff2f93;
}

.box19 {
  position: relative;
  padding:0.25em 1em;
}
.box19:before,.box19:after{ 
  content:'';
  width: 20px;
  height: 30px;
  position: absolute;
  display: inline-block;
}
.box19:before{
  border-left: solid 1px #ff751f;
  border-top: solid 1px #ff2f93;
  top:0;
  left: 0;
}
.box19:after{
  border-right: solid 1px #ff2f93;
  border-bottom: solid 1px #ff751f;
  bottom:0;
  right: 0;
}
.box19 p {
  margin: 0; 
  padding: 0;
}

.present-title{
  text-align: center;
}


/* ここから */

.box001 {
  display: flex;
}

.text001-box-wrapper {
  width: 100%;
  padding: 10px;
}

.text001-box {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 30px;
}

.type-name {
  margin-right: 100px;
  margin-left: 10px;
}

.present-title001 {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 30px;
}

.border {
  border: none;
  border-top: 2px dashed rgb(255, 166, 0);
}

.image_box001 {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
}

/* ここまで */